.navMenu{
    display: inline-flex;
    grid-row: 1/1;
    margin-top: 50px;
}

.navMenu > div{
    margin-left: 50px;
}

.navMenu > div:hover{
    color: orangered;
    cursor: pointer;
}

.navMenu :first-child{
    margin-left: 0px;
}

a{
    text-decoration: none;
    color: black;
}

.navMenu > div > a:hover{
    color: orangered;
    cursor: pointer;
}


.navMenu > div > a.active{
    color: orangered;
}


